@using govnocode.Controllers
@using govnocode.Functions
@using govnocode.Models
@using Resources
@{
    ViewBag.Title = @Resource.HomeTitle;
}
<!--rating--> 
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading text-center text-info" role="tab" id="headingOne">
            <h4 class="panel-title text-info">
                <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   @Resource.TopAll
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <!--top5Users-->
                        <h2 class="text-center">@Resource.Top5Users</h2>
                        <div>
                            @{
                                var t = "";
                                var i = 0;
                                var users = (List<ApplicationUser>)ViewData["Top5Users"];
                                var sortUser = users.OrderByDescending(x => x.Rating);
                                var k = 5 / sortUser.First().Rating;
                                foreach (var variable in sortUser)
                                {
                                    variable.Rating *= k;
                                    i++;
                                    if (string.IsNullOrEmpty(variable.LinkAvatar))
                                    {
                                        variable.LinkAvatar = "http://www.x-bikers.ru/forum/avatars/309593.gif";
                                    }
                                    switch (i)
                                    {
                                        case 1: t = "text text-danger"; break;
                                        case 2: t = "text text-warning"; break;
                                        case 3: t = "text text-success"; break;
                                        default: t = "text text-primary"; break;
                                    }
                                    <a href="@Url.Action("Details", "Profile", new {id = variable.Id})">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img src="@variable.LinkAvatar" alt="@variable.Name" width="25" height="25" class="img-rounded img-responsive">
                                            </div>
                                            <div class="col-md-8" style="margin-top: 0.5%">


                                                <div style="font-size: larger" class="@t">
                                                    @i.@variable.Name
                                                </div>

                                            </div>
                                        </div>
                                    </a>

                                }
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">@Resource.Top5Posts</h2>
                        @{
                            i = 0;
                            var top5Post = (List<Publication>)ViewData["Top5Posts"];
                            foreach (var variable in top5Post)
                            {
                                i++;
                                switch (i)
                                {
                                    case 1: t = "text text-danger"; break;
                                    case 2: t = "text text-warning"; break;
                                    case 3: t = "text text-success"; break;
                                    default: t = "text text-primary"; break;
                                }
                                <div class="row">
                                    <div class="col-md-7">
                                        <a href="@Url.Action("Details", "Publication", new {id = variable.Id})">
                                            <div>
                                                <div style="font-size: larger" class="@t">
                                                    <span class="badge-1">@Math.Round(variable.Rate, 2)</span>
                                                    @*@variable.Title*@
                                                    @if (variable.Title.Length > 10)
                                                    {
                                                        @Html.Raw(@variable.Title.Substring(0, 9) + "...")

                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(@variable.Title);
                                                    }
                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div style="font-size: larger" class="col-md-1 @t">от </div>
                                    <div class="col-md-4">
                                        <div style="font-size: larger" class="@t">
                                            <a href="@Url.Action("Details", "Profile", new {id = variable.UserId})">

                                                <div class="@t">
                                                    @{
                                var firstOrDefault = users.FirstOrDefault(x => x.Id == variable.UserId);
                                                    }
                                                    @if (firstOrDefault != null)
                                                    {
                                                        @firstOrDefault.Name
                                                    }
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">@Resource.Top5comments</h2>
                        @{
                            var top5Comments = (List<Comment>)ViewData["Top5Comments"];
                            i = 0;
                            //var top5Post = (List<Publication>)ViewData["Top5Posts"];
                            foreach (var variable in top5Comments)
                            {
                                i++;
                                switch (i)
                                {
                                    case 1: t = "text text-danger"; break;
                                    case 2: t = "text text-warning"; break;
                                    case 3: t = "text text-success"; break;
                                    default: t = "text text-primary"; break;
                                }
                                <div class="row">
                                    <div class="col-md-7">
                                        <a href="@Url.Action("Details", "Publication", new {id = variable.IdPublication})@Html.Raw("#text"+variable.Id)">
                                            <div>
                                                <div style="font-size: larger" class="@t">
                                                    <span class="badge-1">@variable.Rate</span>
                                                    @*@variable.Text*@
                                                    @if (variable.Text.Length > 10)
                                                    {
                                                        @Html.Raw(@variable.Text.Substring(0, 9) + "...")

                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(@variable.Text);
                                                    }
                                                </div>

                                            </div>

                                        </a>
                                    </div>
                                    <div style="font-size: larger" class="col-md-1 @t">от </div>
                                    <div class="col-md-4">
                                        <div style="font-size: larger" class="@t">
                                            <a href="@Url.Action("Details", "Profile", new {id = variable.IdUser})">

                                                <div class="@t">
                                                    @{
                                var firstOrDefault = users.FirstOrDefault(x => x.Id == variable.IdUser);
                                                    }
                                                    @if (firstOrDefault != null)
                                                    {
                                                        @firstOrDefault.Name
                                                    }
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!--c#-->
                        <div>
                            <h2 class="text-center">@Resource.Top5CSharp</h2>

                            @{

                                i = 0;
                                var top5CSharpPost = (List<Publication>)ViewData["Top5C#"];
                                foreach (var variable in top5CSharpPost)
                                {
                                    i++;
                                    switch (i)
                                    {
                                        case 1: t = "text text-danger"; break;
                                        case 2: t = "text text-warning"; break;
                                        case 3: t = "text text-success"; break;
                                        default: t = "text text-primary"; break;
                                    }
                                    <div class="row">
                                        <div class="col-md-7">
                                            <a href="@Url.Action("Details", "Publication", new {id = variable.Id})">
                                                <div>
                                                    <div style="font-size: larger" class="@t">
                                                        <span class="badge-1">@Math.Round(variable.Rate, 2)</span>
                                                        @if (variable.Title.Length > 26)
                                                        {
                                                            @Html.Raw(@variable.Title.Substring(0, 25) + "...")

                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(@variable.Title);
                                                        }

                                                    </div>

                                                </div>

                                            </a>
                                        </div>
                                        <div style="font-size: larger" class="col-md-1 @t">от </div>
                                        <div class="col-md-4">
                                            <div style="font-size: larger" class="@t">
                                                <a href="@Url.Action("Details", "Profile", new {id = variable.UserId})">

                                                    <div class="@t">
                                                        @{
                                    var firstOrDefault = users.FirstOrDefault(x => x.Id == variable.UserId);
                                                        }
                                                        @if (firstOrDefault != null)
                                                        {
                                                            @firstOrDefault.Name
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--java-->
                        <div>
                            <h2 class="text-center">@Resource.Top5Java</h2>

                            @{

                                i = 0;
                                var top5JavaPost = (List<Publication>)ViewData["Top5Java"];
                                foreach (var variable in top5JavaPost)
                                {
                                    i++;
                                    switch (i)
                                    {
                                        case 1: t = "text text-danger"; break;
                                        case 2: t = "text text-warning"; break;
                                        case 3: t = "text text-success"; break;
                                        default: t = "text text-primary"; break;
                                    }
                                    <div class="row">
                                        <div class="col-md-7">
                                            <a href="@Url.Action("Details", "Publication", new {id = variable.Id})">
                                                <div>
                                                    <div style="font-size: larger" class="@t">
                                                        <span class="badge-1">@variable.Rate</span>
                                                        @if (variable.Title.Length > 26)
                                                        {
                                                            @Html.Raw(@variable.Title.Substring(0, 25) + "...")

                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(@variable.Title);
                                                        }

                                                    </div>

                                                </div>

                                            </a>
                                        </div>
                                        <div style="font-size: larger" class="col-md-1 @t">от </div>
                                        <div class="col-md-4">
                                            <div style="font-size: larger" class="@t">
                                                <a href="@Url.Action("Details", "Profile", new {id = variable.UserId})">

                                                    <div class="@t">
                                                        @{
                                    var firstOrDefault = users.FirstOrDefault(x => x.Id == variable.UserId);
                                                        }
                                                        @if (firstOrDefault != null)
                                                        {
                                                            @firstOrDefault.Name
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h2 class="text-center">@Resource.Top5Python</h2>

                            @{

                                i = 0;
                                var top5Python = (List<Publication>)ViewData["Top5Python"];
                                foreach (var variable in top5Python)
                                {
                                    i++;
                                    switch (i)
                                    {
                                        case 1: t = "text text-danger"; break;
                                        case 2: t = "text text-warning"; break;
                                        case 3: t = "text text-success"; break;
                                        default: t = "text text-primary"; break;
                                    }
                                    <div class="row">
                                        <div class="col-md-7">
                                            <a href="@Url.Action("Details", "Publication", new {id = variable.Id})">
                                                <div>
                                                    <div style="font-size: larger" class="@t">
                                                        <span class="badge-1">@Math.Round(variable.Rate, 2)</span>
                                                        @if (variable.Title.Length > 26)
                                                        {
                                                            @Html.Raw(@variable.Title.Substring(0, 25) + "...")

                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(@variable.Title);
                                                        }

                                                    </div>

                                                </div>

                                            </a>
                                        </div>
                                        <div style="font-size: larger" class="col-md-1 @t">от </div>
                                        <div class="col-md-4">
                                            <div style="font-size: larger" class="@t">
                                                <a href="@Url.Action("Details", "Profile", new {id = variable.UserId})">

                                                    <div class="@t">
                                                        @{
                                    var firstOrDefault = users.FirstOrDefault(x => x.Id == variable.UserId);
                                                        }
                                                        @if (firstOrDefault != null)
                                                        {
                                                            @firstOrDefault.Name
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h2 class="text-center">@Resource.Top5Ruby</h2>

                            @{

                                i = 0;
                                var top5Ruby = (List<Publication>)ViewData["Top5Ruby"];
                                foreach (var variable in top5Ruby)
                                {
                                    i++;
                                    switch (i)
                                    {
                                        case 1: t = "text text-danger"; break;
                                        case 2: t = "text text-warning"; break;
                                        case 3: t = "text text-success"; break;
                                        default: t = "text text-primary"; break;
                                    }
                                    <div class="row">
                                        <div class="col-md-7">
                                            <a href="@Url.Action("Details", "Publication", new {id = variable.Id})">
                                                <div>
                                                    <div style="font-size: larger" class="@t">
                                                        <span class="badge-1">@Math.Round(variable.Rate, 2)</span>
                                                        @if (variable.Title.Length > 26)
                                                        {
                                                            @Html.Raw(@variable.Title.Substring(0, 26) + "...")

                                                        }
                                                        else
                                                        {
                                                            @Html.Raw(@variable.Title);
                                                        }

                                                    </div>

                                                </div>

                                            </a>
                                        </div>
                                        <div style="font-size: larger" class="col-md-1 @t">от </div>
                                        <div class="col-md-4">
                                            <div style="font-size: larger" class="@t">
                                                <a href="@Url.Action("Details", "Profile", new {id = variable.UserId})">

                                                    <div class="@t">
                                                        @{
                                    var firstOrDefault = users.FirstOrDefault(x => x.Id == variable.UserId);
                                                        }
                                                        @if (firstOrDefault != null)
                                                        {
                                                            @firstOrDefault.Name
                                                        }
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!--rating-->
<h3>@Resource.Publication</h3>

 @{
     var listPublications = (List<Publication>)ViewData["AllPublication"];
          var  publications=    listPublications.OrderByDescending(x => x.Id).ToList();
     i = 0;
     foreach (var variable in publications)
     {
         <div class="well-1 well-sm">
             <div class="row">
                 <div class="col-md-2" style="margin-top: 0.0%">
                     <img id="" src="../../Images/starOn.png" alt="" />
                     @if (variable.Rate >= 1.5)
                     {
                         <img id="" src="../../Images/starOn.png" alt="" />
                     }
                     else
                     {
                         <img id="" src="../../Images/starOff.png" alt="" />
                     }
                     @if (variable.Rate >= 2.5)
                     {
                         <img id="" src="../../Images/starOn.png" alt="" />
                     }
                     else
                     {
                         <img id="" src="../../Images/starOff.png" alt="" />
                     }
                     @if (variable.Rate >= 3.5)
                     {
                         <img id="" src="../../Images/starOn.png" alt="" />
                     }
                     else
                     {
                         <img id="" src="../../Images/starOff.png" alt="" />
                     }
                     @if (variable.Rate > 4.5)
                     {
                         <img id="" src="../../Images/starOn.png" alt="" />
                     }
                     else
                     {
                         <img id="" src="../../Images/starOff.png" alt="" />
                     }
                 </div>
                 <a href="@Url.Action("Details","Publication",new{id=variable.Id})">
                     <div class="col-md-3" >
                         <text class="text-info" >
                             @if (variable.Title.Length > 25)
                             {
                                 @Html.Raw(@variable.Title.Substring(0, 24) + "...")

                             }
                             else
                             {
                                 @Html.Raw(@variable.Title)
                                 ;
                             }
                         </text>

                     </div>
                 </a>
                <div class="col-md-3">
                    @*@{
                         var code10Chars = "";
                         i = 0;
                         foreach (var VARIABLE in variable.Code.Replace("\r\n", ""))
                         {

                             if (i < 23)
                             {
                                 code10Chars += VARIABLE;
                             }
                             else
                             {
                                 break;
                             }
                             i++;
                         }
                     }
                    @*<text class="text-info">   <pre class="prettyprint"> @(code10Chars)...... </pre>      </text>*@
                    @{
                        var username = new UsersFunction().GetById(variable.UserId).Name;
                    }
                    <div class="col-md-1"><a href="@Url.Action("Details","Profile",new{id=variable.UserId})">@username</a></div>
                </div>
                 <div class="col-md-2" >
                     @{
                         var listComments = (List<Comment>)ViewData["Comments"];
                         var count = listComments.Count(x => x.IdPublication == variable.Id);
                     }
                     <text>  @Resource.Comments:@count     </text>

                 </div>
                 <div class="col-md-1">
                     <text style="" class="text-info">@(variable.Date.Day).@(variable.Date.Month).@variable.Date.Year </text>
                 </div>

                 @*<div class="col-md-1 new-theme-btn">
                     <a href="@Url.Action("Details", "Publication", new {id = variable.Id})" class="btn btn-link text-info">@Resource.Details</a>
                 </div>*@
                 
             </div>
         </div> 
         i++;
     }
 }
     @{
         var p = (int) ViewData["Page"];
         p.ToString();
     }
<nav>
    <ul class="pager">
        <li class="previous @{if(p==1){@Html.Raw("disabled")}}"><a href="@Url.Action("Index",new {page=p-1})"><span aria-hidden="true">&larr;</span>@Resource.New</a></li>
        <li class="next"><a href="@Url.Action("Index",new {page=(int)ViewData["Page"]+1})">@Resource.Old <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
<!--Tags-->
