@using Resources
@model govnocode.Models.ApplicationUser

@{
    ViewBag.Title =@Resource.AdminDeleteTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Resource.AdminDeleteText</h3>
<div>
    <h4>@Resource.AdminDeleteUserText</h4>
    <hr/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>




    </dl>



        <div class="form-actions no-color">
            <input type="submit" id="userName" value="@Resource.Delete" class="btn btn-default" /> |
            @Html.ActionLink(Resource.BackToList, "Index")
        </div>
    }
</div>
