@using System.Resources
@{
    ViewBag.Title = @Resources.Resource.ComfimEmailTitle;
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        @Resources.Resource.ConfimEmailText @Html.ActionLink(@Resources.Resource.ConfimEmailTextLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
